<h1>Add a recipe below</h1>

<% if @recipe.errors %>
	<% @recipe.errors.full_messages.each do |error| %>
		<li><%= error %></li>
	<% end %>
<% end %>

<%= form_for @recipe do |r| %>

  <%=r.label "Recipe Name" %>
  <%=r.text_field :name %>

  <%= r.label "User" %>
  <%= r.collection_select(:user_id, User.all, :id, :name, {:prompt => 'Select User'}) %>

  <%= r.submit "Create Recipe" %>

<% end %>
